<div class="footer-bottom">
    <div class="copyright">
        <span>Copyright</span>
        <span>&copy;</span>
        <span><a href="#">NexParan</a> </span>
        <span>2024 SOMEPOONING</span>
    </div>
    <div class="version">v1.4.2</div>
</div>
</main>

</div>

<script src="js/script.js"></script>
</body>

</html>