<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>

            <div class="party-management">
                <div class="party-list">

                    <div class="header">
                        <i class='bx bx-party'></i>
                        <h3>파티리스트</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>

                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="all-check"></th>
                                <th class="table-num"><a href="#">번호</a></th>
                                <th class="party-master"><a href="#">파티장</a></th>
                                <th class="party-users"><a href="#">참여인원</a></th>
                                <th class="party-title"><a href="#">주제</a></th>
                                <th class="party-starttime"><a href="#">개설시간</a></th>
                                <th class="party-room-bb"><a href="#">방관리</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" class="one-check"></td>
                                <td class="p-num">9852</td>
                                <td class="p-master">
                                    <img src="./imges/avatar/Avatar=9.png">
                                    <p>우리두리 알콩달콩</p>
                                </td>
                                <td class="p-users">
                                    <span class="count">10명</span>
                                </td>
                                <td class="p-title">이번 크리스마스 연말에 함께해요</td>

                                <td class="p-starttime">
                                    <span class="date">24/04/01</span>
                                    <span class="time">16:44:62</span>
                                </td>
                                <td class="p-room-bb">
                                    <div class="status completed">경고</div>
                                    <div class="status process">방삭제</div>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 5</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left'></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left'></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right'></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right'></i></a></li>

                        </ul>
                    </div>
                </div>

                
                <!-- party-chatting room --->
                
                <div class="chatting-room-wrap">
                    <div class="chat-room">
                        <div class="chat-top">
                            <div class="profile-wrap">
                                <div>
                                    <span class="chat-num">9852</span>
                                </div>
                                <div class="chat-profile">
                                    <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
                                    <div class="text">
                                        <h5>우리알콩달콩</h5>
                                        <p class="memo">인상이 참 좋으싶니다. 저는 서울에사는 공무원 입니다. 대화하고 싶어요</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="hr-2"></div>

                            <div class="user-select-wrap">
                                <div class="container2">
                                    <div class="select-btn2">
                                        <span class="btn-text">참여회원 : 10명</span>
                                        <span class="arrow-dwn">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </span>
                                    </div>
                                    <ul class="list-items">
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
            
                                            <span class="item-text">우리두리</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=1.png" alt="">
            
                                            <span class="item-text">사랑스런 장미</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=4.png" alt="">
            
                                            <span class="item-text">내 반쪽을 찾습니다.</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=8.png" alt="">
            
                                            <span class="item-text">우리두리</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=9.png" alt="">
            
                                            <span class="item-text">우리두리</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
            
                                            <span class="item-text">우리두리</span>
                                        </li>
                                        <li class="item2">
                                            <span class="checkbox">
                                                <i class="fa-solid fa-check check-icon"></i>
                                            </span>
                                            <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
            
                                            <span class="item-text">우리두리</span>
                                        </li>
                                    </ul>
                                </div>
            
                                <div class="icon-right">
                                    <i class="material-icons">cached</i>
                                    <i class="material-icons">message</i>
                                    <i class="material-icons">menu</i>
                                </div>
                            </div>

                            
                        </div>

                        <div class="hr"></div>
                        <div class="chat-panel">



                            <!-- manager chat center -->
                            <div class="date-chat">
                                <div class="wrap">
                                    <div class="item">
                                        <i class='bx bx-calendar' ></i>
                                        <span>2024년 5월 10일 금요일</span>
                                    </div>
                                </div>
                            </div>

                            <!-- user 1 chat left -->
                            <div class="user-1-chat">
                                <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
                                <div class="chat-wrap-left">
                                    <div class="user-1-name">우리두리 알콩달콩</div>
                                    <div class="bubble-wrap">
                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                        <div class="user-1-time">오전 4:12</div>
                                    </div>
                                </div>
                            </div>

                            <!-- user 2 chat right -->
                            <div class="user-2-chat">
                                <div class="chat-wrap-right">
                                    <div class="user-2-name">쵸콜릿처럼 달콤함</div>
                                    <div class="bubble-wrap">
                                        <div class="user-2-time">오전 4:12</div>

                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <img class="profile-image user-2" src="./imges/avatar/Avatar=2.png" alt="">
                            </div>

                            <!-- manager chat center -->
                            <div class="manager-chat">
                                <div class="wrap">
                                    <div class="item">
                                        <i class='bx bxs-megaphone'></i>
                                        <span>안내 : 관리자 메세지를 나타냅니다.</span>
                                    </div>
                                    
                                    <div class="manager-time">오전 4:12</div>
                                </div>
                            </div>

                            <!-- user 1 chat left -->
                            <div class="user-1-chat">
                                <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
                                <div class="chat-wrap-left">
                                    <div class="user-1-name">우리두리 알콩달콩</div>
                                    <div class="bubble-wrap">
                                        <div class="chat-bubble">
                                            hi
                                        </div>
                                        <div class="user-1-time">오전 4:12</div>
                                    </div>
                                </div>
                            </div>

                            <!-- user 2 chat right -->
                            <div class="user-2-chat">
                                <div class="chat-wrap-right">
                                    <div class="user-2-name">쵸콜릿처럼 달콤함</div>
                                    <div class="bubble-wrap">
                                        <div class="user-2-time">오전 4:12</div>

                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <img class="profile-image user-2" src="./imges/avatar/Avatar=2.png" alt="">
                            </div>

                            <!-- user 2 chat right -->
                            <div class="user-2-chat">
                                <div class="chat-wrap-right">
                                    <div class="user-2-name">쵸콜릿처럼 달콤함</div>
                                    <div class="bubble-wrap">
                                        <div class="user-2-time">오전 4:12</div>

                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <img class="profile-image user-2" src="./imges/avatar/Avatar=2.png" alt="">
                            </div>


                            <!-- user 2 chat right -->
                            <div class="user-2-chat">
                                <div class="chat-wrap-right">
                                    <div class="user-2-name">쵸콜릿처럼 달콤함</div>
                                    <div class="bubble-wrap">
                                        <div class="user-2-time">오전 4:12</div>

                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <img class="profile-image user-2" src="./imges/avatar/Avatar=2.png" alt="">
                            </div>


                            <!-- user 1 chat left -->
                            <div class="user-1-chat">
                                <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
                                <div class="chat-wrap-left">
                                    <div class="user-1-name">우리두리 알콩달콩</div>
                                    <div class="bubble-wrap">
                                        <div class="chat-bubble">
                                            hi
                                        </div>
                                        <div class="user-1-time">오전 4:12</div>
                                    </div>
                                </div>
                            </div>

                            <!-- user 1 chat left -->
                            <div class="user-1-chat">
                                <img class="profile-image user-1" src="./imges/avatar/Avatar=12.png" alt="">
                                <div class="chat-wrap-left">
                                    <div class="user-1-name">우리두리 알콩달콩</div>
                                    <div class="bubble-wrap">
                                        <div class="chat-bubble">
                                            hi
                                        </div>
                                        <div class="user-1-time">오전 4:12</div>
                                    </div>
                                </div>
                            </div>
                            <!-- user 2 chat right -->
                            <div class="user-2-chat">
                                <div class="chat-wrap-right">
                                    <div class="user-2-name">쵸콜릿처럼 달콤함</div>
                                    <div class="bubble-wrap">
                                        <div class="user-2-time">오전 4:12</div>

                                        <div class="chat-bubble">
                                            안녕하세요안녕하세요안녕하세요안녕하세요
                                        </div>
                                    </div>
                                </div>
                                <img class="profile-image user-2" src="./imges/avatar/Avatar=2.png" alt="">
                            </div>

                        </div>
                        <div class="hr bottom"></div>
                        <div class="chat-box-wrap">
                            <div class="chat-box-tray">
                                <i class="material-icons">sentiment_very_satisfied</i>
                                <input type="text" placeholder="메세지를 입력해주세요">
                                <i class="material-icons">mic</i>
                                <i class="material-icons">send</i>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>

<%- include('partials/footer'); %>