<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <div class="push-management">

                <div class="push-list">

                    <div class="header">
                        <div class="title-wrap">
                            <i class='bx bx-group'></i>
                            <h3>유저리스트</h3>
                        </div>
                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="이름을 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>

                    <div class="table-wrap">
                        <table class="push-user-list">
                            <thead>
                                <tr>
                                    <th class="all-check"><input type="checkbox"></th>
                                    <th class="name"><a href="#">이름</a></th>
                                    <th class="user-id"><a href="#">유저ID</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-1">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>asdfasdfasdfsdfsdf</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="send-msg-wrap">
                        <textarea name="" id="send-msg" class="send-push">내용입력</textarea>
                        <button class="send-btn-plus">
                            <span>보내기</span>
                        </button>
                    </div>
                    
                    
                </div>



                <!-- 알림보내기 -->
                <div class="push-send-list">

                    <div class="header">
                        <i class='bx bx-user-pin'></i>
                        <h3>알림보내기</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="이름을 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>
                    <div class="table-wrap">
                        <table class="user-push-table">
                            <thead>
                                <tr>
                                    <th class="all-check"><input type="checkbox"></th>
                                    <th class="data data-name"><a href="#">이름</a></th>
                                    <th class="data data-userid"><a href="#">유저ID</a></th>
                                    <th class="data data-con"><a href="#">알림내용</a></th>
                                    <th class="data data-daytime"><a href="#">보낸일시</a></th>
                                    <th class="data data-st"><a href="#">상태</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="one-check"></td>
                                    <td class="user-id">
                                        <img src="./imges/avatar/Avatar=13.png">
                                        <p>우리두리 알콩달콩</p>
                                    </td>
                                    <td>ksdkdkdkdkskdkk d8skd9</td>
                                    <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                    <td>2024/05/05, 16:44:01</td>
                                    <td class="btn">
                                        확인/미확인
                                    </td> 
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 8</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                        

                </div>
                

            </div>

<%- include('partials/footer'); %>