<%- include('partials/header'); %>

    <!-- Main Content -->
    <div class="content">
        <!-- Navbar -->
        <nav>
            <i class='bx bx-menu'></i>
            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="검색어를 입력해주세요">
                    <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="theme-toggle" hidden>
            <label for="theme-toggle" class="theme-toggle"></label>
            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>
            <a href="#" class="profile">
                <img src="./imges/logo_some_50_56.png">
            </a>
        </nav>

        <!-- End of Navbar -->

        <main>
            <!-- <div class="header">
                <div class="left">
                    <h1>유저관리</h1>
                </div>
            </div> -->

            <div class="report-management">
                <div class="report-list">

                    <div class="header">
                        <i class='bx bx-no-entry'></i>
                        <h3>신고사항</h3>

                        <div class="search-box">
                            <input type="text" class="input-search" placeholder="검색어를 입력해주세요">
                            <button class="btn-search"><i class="bx bx-search"></i></button>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="all-check"></th>
                                <th class="data data-num">신고번호</th>
                                <th class="data data-report-user">신고자</th>
                                <th class="data data-con">신고내용</th>
                                <th class="data data-datetime">신고일시</th>
                                <th class="data data-status">처리여부</th>
                                <th class="data data-status">비고</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" class="one-check"></td>
                                <td>123</td>
                                <td class="profile-name">
                                    
                                    <a href="/user_profile?slug=menu9">
                                        <img src="./imges/avatar/Avatar=10.png">
                                        <p>누구에요</p>
                                    </a>
                                </td>
                                <td>
                                    <div class="report-item">
                                        <div class="report-pro">
                                            [<a href="./user-profile.html" style="display: flex; align-items: center;">
                                                <img src="./imges/avatar/Avatar=3.png">
                                                <p>음란마귀</p>
                                            </a>]
                                        </div>
                                        <span>에 대한 음란신고 접수되었습니다.</span>
                                    </div>

                                </td>
                                <td>2024/04/01, 16:44:62</td>
                                <td>
                                
                                    <div class="wrapper-send">
                                        <input type="text" placeholder="신고자에게 보낼 메세지를 입력해주세요" class="report-send">
                                        <i class='bx bx-send'></i>
                                    </div>
                                    
                                </td>
                                <td>처리중</td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="chat-page">
                        <div class="showing-count">
                            <span>Showing:</span>
                            <span>1 - 8</span>
                            <span>of</span>
                            <span>78</span>
                        </div>
                        <ul class="pagination">
                            <li><a href="#"><i class='bx bx-chevrons-left' ></i></a></li>
                            <li><a href="#"><i class='bx bx-chevron-left' ></i></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">6</a></li>
                            <li><a href="#">7</a></li>
                            <li><a href="#">8</a></li>
                            <li><a href="#">9</a></li>
                            <li><a href="#">10</a></li>
                            <li><a href="#"><i class='bx bx-chevron-right' ></i></i></a></li>
                            <li><a href="#"><i class='bx bx-chevrons-right' ></i></a></li>
                            
                        </ul>
                    </div>
                </div>

            </div>

<%- include('partials/footer'); %>